<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %5p [%F:%L] - %m%n" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="ROLLINGFILE">
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.home}/logs/app.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %5p [%F:%L] - %m%n" />
		</layout>
	</appender>

	<!--设定级别为debug的配置信息-->
	<appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.home}/logs/app_debug.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %t %5p [%F:%L] - %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>

	</appender>

	<!--设定级别为info的配置信息-->
	<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.home}/logs/app_info.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %t %5p [%F:%L] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>
	
	<!--设定级别为warn的配置信息-->
	<appender name="WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.home}/logs/app_warn.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %t %5p [%c:%L] - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<!--设定级别为error的配置信息-->
	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.home}/logs/app_error.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %t %5p - %m(%c:%l)%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<!--设定级别为fatal的配置信息-->
	<appender name="FATAL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="File" value="${catalina.home}/logs/app_fatal.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %t %5p - %m(%l)%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="FATAL" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	<!--  
	<logger name="java.sql">
		<level value="DEBUG" />
	</logger>
	<logger name="com.service.test">
		<level value="DEBUG" />
	</logger>
	-->
	<logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper">
		<level value="ERROR" />
	</logger>
	
	<logger name="com.ada.log">
		<level value="DEBUG" />
	</logger>
	
	<root>
		<level value="INFO" /> 
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="FATAL" />
	</root>
</log4j:configuration>
