<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
    	<param-name>webAppRootKey</param-name>
    	<param-value>ada-test</param-value>
  	</context-param>
  	
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>30000</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>
			/index.jsp
		</welcome-file>
	</welcome-file-list>
	
</web-app>
